* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    background-color: grey;
    width: 100%;
}

.row.welcome > .welcome-text {
    display: inline;
}

footer {
    background-color: lightblue;
    height: 2rem;
}