* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: #000020;
    color: #f3f3f3;
    z-index: 2;
}

main {
    flex: 1;
}

.row {
    width: 100%;
    padding: 1rem 0 1rem 0;
}

.row:nth-of-type(even) {
    background-color: #e4e4e4;
}

.row.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
}

.row.welcome > div {
    flex: 1;
}

.row.welcome > div:nth-child(1) {
    text-align: right;
    margin-right: 5rem;
}

.row.welcome .get-started-button {
    margin-top: 1rem;
    min-width: 5rem;
}

.row-display {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.row-display > div {
    flex: 1;
}

.centered {
    text-align: center;
}

button,
input[type = "button"] {
    color: black;
    background: none;
    border: 2px solid black;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: none;
    font-weight: 400;
    font-size: 1.1rem;
}

a, 
a:visited
a:link,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

button:hover,
input[type = "button"]:hover {
    background-color: #000040;
    color: #f3f3f3;
}

footer {
    background-color: black;
    color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer > div {
    flex: 1;
    padding: 1rem 0 1rem 0;
}